#===================== Input Parameters =====================
SourceWidth                       1024                       # Input frame width
SourceHeight                      768                        # Input frame height
StartFrame                        0					         # Starting frame 
TotalNumberOfFrames               100                        # Total number of input frames 

IsSingleViewFilling               1                          # 1: Single View Filling, 0: Double View Filling. Default 1.

SourceVideoName                   merge.yuv                  # Name of input video
BackgroundImageName               ColorBackground.yuv        # Name of color background image
OutVideoName                      OutVideo.yuv               # Name of output video